body {
	background-color: blue;
}

header {
	background-color: red;
	text-align: center;
	padding: 25px;
}

nav {
	background-color: green;
	padding: 25px;
}

ul {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
}

li {
	background-color: lightgreen;
	width: 100px;
	padding: 50px;
	margin: auto;
	text-align: center;
}

#sectionDiv {
	display: flex;
	flex-direction: row;
}

#premierDiv {
	background-color: yellow;
	padding: 5px;
}

#deuxiemeDiv {
	background-color: orange;
	padding: 5px;
}

footer {
	background-color: purple;
	text-align: center;
	padding: 10px;
}