body {
	background-color: blue;
}

header {
	background-color: red;
}

nav {
	background-color: green;
}

#premierDiv {
	background-color: yellow;
}

#deuxiemeDiv {
	background-color: orange;
}

footer {
	background-color: purple;
}