body {
	background-color: blue;
}

header {
	background-color: red;
}

nav {
	background-color: green;
	display: flex;
	padding: 100px;
}

ul {
	list-style-type: none;
}

li {
	background-color: lightgreen;
	width: 100px;
	padding: 50px;
	margin: auto;
}

#premierDiv {
	background-color: yellow;
}

#deuxiemeDiv {
	background-color: orange;
}

footer {
	background-color: purple;
}